@font-face {
  font-family: "iconfont"; /* Project id 1131678 */
  src: url('iconfont.woff2?t=1638415613970') format('woff2'),
       url('iconfont.woff?t=1638415613970') format('woff'),
       url('iconfont.ttf?t=1638415613970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuixinnewchunse:before {
  content: "\e839";
}

.icon-yaoqinghuida:before {
  content: "\e610";
}

.icon-weinituijian:before {
  content: "\e60a";
}

.icon-bianji2:before {
  content: "\e6b0";
}

.icon-qunfengpengyouquan:before {
  content: "\e6e2";
}

.icon-qianbipencil86:before {
  content: "\e6a6";
}

.icon-shoucang1:before {
  content: "\e86d";
}

.icon-icon:before {
  content: "\e656";
}

.icon-icon_reply:before {
  content: "\e609";
}

.icon-tupian-xianxing:before {
  content: "\e8d2";
}

.icon-xiaolian:before {
  content: "\ec80";
}

.icon-shouye-lvshizhaopianVIPjiaobiao:before {
  content: "\e628";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\eb0d";
}

.icon-sanjiao2:before {
  content: "\e603";
}

.icon-sanjiao1:before {
  content: "\e606";
}

.icon-icon_tip_off:before {
  content: "\e60f";
}

.icon-pinglun:before {
  content: "\e6ba";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-icon_xinlang-chunselogo:before {
  content: "\e65e";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-zhifeiji:before {
  content: "\e6a0";
}

.icon-redu:before {
  content: "\e619";
}

.icon-shezhitianchong:before {
  content: "\e68d";
}

.icon-zhuye:before {
  content: "\e65d";
}

.icon-tuichu:before {
  content: "\e623";
}

.icon-zhanghuyue:before {
  content: "\e60e";
}

.icon-yaoqing:before {
  content: "\e682";
}

.icon-kefu:before {
  content: "\e60d";
}

.icon-wenti:before {
  content: "\e605";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-banquan-kuai:before {
  content: "\e896";
}

.icon-xiaoxi:before {
  content: "\e604";
}

.icon-zixun1:before {
  content: "\e662";
}

.icon-bianji1:before {
  content: "\e600";
}

.icon-book:before {
  content: "\e651";
}

.icon-hua:before {
  content: "\e630";
}

.icon-lightning:before {
  content: "\e655";
}

.icon-i8homem-:before {
  content: "\e643";
}

.icon-text:before {
  content: "\e791";
}

.icon-shipin:before {
  content: "\e63e";
}

.icon--Idea:before {
  content: "\e608";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-user-edit:before {
  content: "\e612";
}

.icon-xiaoxitongzhi:before {
  content: "\e611";
}

.icon-24gf-bubbles4:before {
  content: "\e95b";
}

.icon-eye-fill:before {
  content: "\e869";
}

.icon-eyeclose-fill:before {
  content: "\e8ff";
}

